{% block number_constraint_widget %}
    <div class="input-group">
        {{ form_widget(form.operator) }}
        {{ form_widget(form.value1) }}
        {{ form_widget(form.value2) }}
    </div>
{% endblock %}