{% import "helper.twig" as helper %}
<table class="table table-sm table-striped table-hover table-bordered">
    <tbody>
    <tr>
        <td>Database type</td>
        <td>{{ db_type }}</td>
    </tr>
    <tr>
        <td>Database Server Version</td>
        <td>{{ db_version }}</td>
    </tr>
    <tr>
        <td>Database Size</td>
        <td>{{ db_size != null ? db_size | format_bytes : 'Unknown' }}</td>
    </tr>
    </tbody>
</table>