{% set delete_btn %}

{% endset %}

{% form_theme form with ['Parts/edit/edit_form_styles.html.twig'] %}
{% import 'components/collection_type.macro.html.twig' as collection %}

<div {{ collection.controller(form.partLots, 'part_lot.edit.delete.confirm') }}>
    <table class="table table-striped table-sm" id="lots_table" {{ collection.target() }}>
        <tbody>
        {% for lot in form.partLots %}
            {{ form_widget(lot) }}
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-success" {{ collection.create_btn() }}
            {% if not is_granted('lots.create', part) %}disabled{% endif %}>
        <i class="fas fa-plus-square fa-fw"></i>
        {% trans %}part_lot.create{% endtrans %}
    </button>
</div>