{% extends "main_card.html.twig" %}

{% import "info_providers/providers.macro.html.twig" as providers_macro %}
{% import "helper.twig" as helper %}

{% block title %}
    {% trans %}info_providers.from_url.title{% endtrans %}
{% endblock %}

{% block card_title %}
    <i class="fas fa-book-atlas"></i> {% trans %}info_providers.from_url.title{% endtrans %}
{% endblock %}

{% block card_content %}
    <p class="text-muted offset-3">{% trans %}info_providers.from_url.help{% endtrans %}</p>

    {{ form_start(form) }}
    {{ form_row(form.url) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
