{% extends "security/2fa_base_form.html.twig" %}


{% block form %}
    <div class="form-group row">
        <label for="_auth_code" class="col-form-label col-3">{% trans %}tfa.check.code.label{% endtrans %}</label>
        <div class="col-9">
            <input id="_auth_code" class="form-control" type="text" autocomplete="off" name="{{ authCodeParameterName }}" autofocus />
            <small id="passwordHelpBlock" class="form-text text-muted">
                {% trans %}tfa.check.code.help{% endtrans %}
            </small>
        </div>
    </div>
{% endblock %}