<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ meta_title }}</title>
    <meta name="author" content="{{ partdb_title }}">
    <meta name="description" content="Label for {{ meta_title }}">
    <meta name="keywords" content="Part-DB, Label, Barcode">
    <style>
        {% include("LabelSystem/labels/label_style.css.twig") %}
        {{ options.additionalCss | escape("html") }}
    </style>
</head>
<body>
{% for element in elements %}
    <div class="page">
        {% if options.barcodeType == 'none' %}
            {% include "LabelSystem/labels/label_page_none.html.twig" %}
        {% elseif options.barcodeType in ['qr', 'datamatrix'] %}
            {% include "LabelSystem/labels/label_page_qr.html.twig" %}
        {% elseif options.barcodeType in ['code39', 'code93', 'code128'] %}
            {% include "LabelSystem/labels/label_page_1d.html.twig" %}
        {% endif %}
    </div>
{% endfor %}
</body>
</html>