# Latest documentation available at https://omines.github.io/datatables-bundle/#configuration
datatables:

    language_from_cdn: false

    # Set to none, as we override the bundle mechanism with our own custom one
    persist_state: none

    # Set options, as documented at https://datatables.net/reference/option/
    options:
        lengthMenu : [[10, 25, 50, 100], [10, 25, 50, 100]] # We add the "All" option, when part tables are generated
        #pageLength: '%partdb.table.default_page_size%'   # Set to -1 to disable pagination (i.e. show all rows) by default
        pageLength: 50 #TODO
        dom: "  <'row' <'col mb-2 input-group flex-nowrap' B l > <'col-auto mb-2' < p >>>
                    <'card'
                        rt
                        <'card-footer card-footer-table text-muted' i >
                    >
                <'row' <'col mt-2 input-group flex-nowrap' B l > <'col-auto mt-2' < p >>>"
        pagingType: 'simple_numbers'
        searching: false
        stateSave: true


    template_parameters:
        # Example classes to integrate nicely with Bootstrap 3.x
        className: 'table table-striped table-hover table-sm data-table'

    # You can for example override this to "tables" to keep the translation domains separated nicely
    translation_domain: 'messages'
