knpu_oauth2_client:
    clients:
        # configure your clients as described here: https://github.com/knpuniversity/oauth2-client-bundle#configuration

        ip_digikey_oauth:
            type: generic
            provider_class: '\League\OAuth2\Client\Provider\GenericProvider'

            client_id: '%env(settings:digikey:clientId)%'
            client_secret: '%env(settings:digikey:secret)%'

            redirect_route: 'oauth_client_check'
            redirect_params: {name: 'ip_digikey_oauth'}

            provider_options:
                urlAuthorize: 'https://api.digikey.com/v1/oauth2/authorize'
                urlAccessToken: 'https://api.digikey.com/v1/oauth2/token'
                urlResourceOwnerDetails: ''

                # Sandbox
                #urlAuthorize: 'https://sandbox-api.digikey.com/v1/oauth2/authorize'
                #urlAccessToken: 'https://sandbox-api.digikey.com/v1/oauth2/token'
                #urlResourceOwnerDetails: ''

        ip_octopart_oauth:
            type: generic
            provider_class: '\League\OAuth2\Client\Provider\GenericProvider'

            client_id: '%env(settings:octopart:clientId)%'
            client_secret: '%env(settings:octopart:secret)%'

            redirect_route: 'oauth_client_check'
            redirect_params: { name: 'ip_octopart_oauth' }

            provider_options:
                urlAuthorize: 'https://identity.nexar.com/connect/authorize'
                urlAccessToken: 'https://identity.nexar.com/connect/token'
                urlResourceOwnerDetails: ''

        ip_buerklin_oauth:
            type: generic
            provider_class: '\League\OAuth2\Client\Provider\GenericProvider'

            client_id: '%env(settings:buerklin:clientId)%'
            client_secret: '%env(settings:buerklin:secret)%'

            redirect_route: 'oauth_client_check'
            redirect_params: { name: 'ip_buerklin_oauth' }

            provider_options:
                urlAuthorize: 'https://www.buerklin.com/authorizationserver/oauth/token'
                urlAccessToken: 'https://www.buerklin.com/authorizationserver/oauth/token'
                urlResourceOwnerDetails: ''
