parameters:
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false

    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'

    autoload_directories:
        - %rootDir%/../../../src/Migrations

    excludes_analyse:
        - src/DataTables/Adapter/*
        - src/Configuration/*