<form method="post" class="" action="{{ entity|entityURL('delete') }}"
      data-delete-form data-title="{% trans  with {'%name%': entity.name }%}entity.delete.confirm_title{% endtrans %}"
      data-message="{% trans %}entity.delete{% endtrans %}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
    <div class="form-group">
        <div class=""></div>
        <div class="col-3 offset-2 pl-1">
            <button class="btn btn-danger">{% trans %}entity.delete{% endtrans %}</button>
        </div>
    </div>
</form>
