<div class="form-group row">
    <label class="col-form-label col-md-3">{% trans %}id.label{% endtrans %}</label>
    <div class="col-md-9">
        <p class="form-control-plaintext">{% if entity.iD %}{{ entity.id }}{% else %}-{% endif %}</p>
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-md-3">{% trans %}createdAt{% endtrans %}</label>
    <div class="col-md-9">
        <p class="form-control-plaintext">

            {% if date(entity.addedDate) > date('1900/01/01') %}
                {{ entity.addedDate | localizeddate("long") }}
            {% else %}
                -
            {% endif %}
        </p>
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-md-3">{% trans %}lastModified{% endtrans %}</label>
    <div class="col-md-9">
        <p class="form-control-plaintext">
            {% if date(entity.lastModified) > date('1900/01/01') %}
                {{ entity.lastModified | localizeddate("long") }}
            {% else %}
                -
            {% endif %}
        </p>
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-md-3">{% trans %}entity.info.parts_count{% endtrans %}</label>
    <div class="col-md-9">
        <p class="form-control-static">
            {% if entity.id and entity.parts is defined %}
                {{ entity.parts | length }}
            {% else %}
                -
            {% endif %}
        </p>
    </div>
</div>