{% extends "AdminPages/EntityAdminBase.html.twig" %}

{% block card_title %}
    <i class="fas fa-users fa-fw"></i> {% trans %}group.edit.caption{% endtrans %}
{% endblock %}


{% block additional_pills %}
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link link-anchor" href="#tab_permissions">{% trans %}user.edit.permissions{% endtrans %}</a></li>
{% endblock %}


{% block additional_panes %}
    <div class="tab-pane" id="tab_permissions">
        <input type="hidden" name="_token" value="{{ csrf_token('group' ~ entity.id) }}">
        {{ form_row(form.permissions) }}
    </div>
{% endblock %}

{% block additional_controls %}
    {{ form_row(form.enforce2FA) }}
{% endblock %}

{% block edit_title %}
    {% trans %}group.edit{% endtrans %}: {{ entity.name }}
{% endblock %}

{% block new_title %}
    {% trans %}group.new{% endtrans %}
{% endblock %}