{% extends "AdminPages/EntityAdminBase.html.twig" %}

{% block card_title %}
    <i class="fas fa-qr fa-fw"></i> {% trans %}label_profile.caption{% endtrans %}
{% endblock %}

{% block additional_pills %}
    <li class="nav-item"><a data-toggle="tab" class="nav-link link-anchor" href="#tab_options">{% trans %}admin.options{% endtrans %}</a></li>
{% endblock %}

{% block additional_panes %}
    <div class="tab-pane" id="tab_options">
        {{ form_widget(form.options) }}
    </div>
{% endblock %}

{% block additional_controls %}
    {{ form_row(form.show_in_dropdown) }}
{% endblock %}

{% block additional_content %}
    {% if pdf_data is defined and pdf_data is not empty %}
        <div class="card mt-2 mb-2 p-1 border-secondary" style="resize: vertical; overflow: scroll; height: 250px;">
            <object id="pdf_preview"  data="{{ inlineData(pdf_data, 'application/pdf') | escape('html_attr') }}"style="height: inherit">
            </object>
        </div>
    {% endif %}
{% endblock %}