{% extends "AdminPages/EntityAdminBase.html.twig" %}

{% block card_title %}
    <i class="fas fa-cube fa-fw"></i> {% trans %}storelocation.labelp{% endtrans %}
{% endblock %}

{% block additional_controls %}
{% endblock %}

{% block additional_pills %}
    <li class="nav-item"><a data-toggle="tab" class="nav-link link-anchor" href="#home_options">{% trans %}admin.options{% endtrans %}</a></li>
{% endblock %}

{% block additional_panes %}
    <div class="tab-pane" id="home_options">
        {{ form_row(form.storage_type) }}
        {{ form_row(form.is_full) }}
        {{ form_row(form.limit_to_existing_parts) }}
        {{ form_row(form.only_single_part) }}
    </div>
{% endblock %}