<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ meta_title }}</title>
    <meta name="author" content="{{ partdb_title }}">
    <meta name="description" content="Label for {{ meta_title }}">
    <meta name="keywords" content="Part-DB, Label, Barcode">
    <style>
        {% include("label_system/labels/label_style.css.twig") %}
        {# We must not escape it here, as the string might contain ", which would be escaped. As user can control the whole HTML, XSS is not really a problem here. #}
        {{ options.additionalCss | raw }}
    </style>
</head>
<body>
{% for element in elements %}
    <div class="page">
        {% if options.barcodeType.none %}
            {% include "label_system/labels/label_page_none.html.twig" %}
        {% elseif options.barcodeType.is2D() %}
            {% include "label_system/labels/label_page_qr.html.twig" %}
        {% elseif options.barcodeType.is1D() %}
            {% include "label_system/labels/label_page_1d.html.twig" %}
        {% endif %}
    </div>
{% endfor %}
</body>
</html>