{% import "components/datatables.macro.html.twig" as datatables %}

<div class="btn-group mb-2 mt-2">
    <a class="btn btn-success" {% if not is_granted('@assemblies.edit') %}disabled{% endif %}
       href="{{ path('assembly_add_parts', {"id": assembly.id, "_redirect":  uri_without_host(app.request)}) }}">
        <i class="fa-solid fa-square-plus fa-fw"></i>
        {% trans %}assembly.info.bom_add_parts{% endtrans %}
    </a>
    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="{{ path('assembly_import_bom', {'id': assembly.id}) }}" {% if not is_granted('edit', assembly) %}disabled="disabled"{% endif %}>
                <i class="fa-solid fa-file-import fa-fw"></i>
                {% trans %}assembly.edit.bom.import_bom{% endtrans %}
            </a>
        </li>
    </ul>
</div>

{{ datatables.datatable(datatable, 'elements/datatables/datatables', 'assemblies') }}