<div class="row mb-2">
    <div class="{{ offset_label }} {{ col_input }}">
        <a class="btn btn-info {% if not is_granted('create', entity) %}disabled{% endif %}" href="{{ entity_url(entity, 'clone') }}">{% trans %}entity.duplicate{% endtrans %}</a>
    </div>
</div>
