{% extends "admin/base_admin.html.twig" %}

{% block card_title %}
    <i class="fas fa-microchip fa-fw"></i> {% trans %}footprint.labelp{% endtrans %}
{% endblock %}

{% block master_picture_block %}
    {{ form_row(form.master_picture_attachment) }}
    {{ form_row(form.footprint_3d) }}
{% endblock %}

{% block edit_title %}
    {% trans %}footprint.edit{% endtrans %}: <a href="{{ path('part_list_footprint', {'id': entity.id}) }}">{{ entity.name }}</a>
{% endblock %}

{% block new_title %}
    {% trans %}footprint.new{% endtrans %}
{% endblock %}