{% extends "admin/base_company_admin.html.twig" %}

{% block card_title %}
    {% set dataSourceName = get_data_source_name('manufacturer', 'manufacturer.caption') %}
    {% set translatedSource = 'manufacturer.caption'|trans %}
    <i class="fas fa-industry fa-fw"></i> {% if dataSourceName != translatedSource %}{{ 'datasource.synonym'|trans({'%name%': translatedSource, '%synonym%': dataSourceName}) }}{% else %}{{ translatedSource }}{% endif %}
{% endblock %}

{% block edit_title %}
    {% trans %}manufacturer.edit{% endtrans %}: <a href="{{ path('part_list_manufacturer', {'id': entity.id}) }}">{{ entity.name }}</a>
{% endblock %}

{% block new_title %}
    {% trans %}manufacturer.new{% endtrans %}
{% endblock %}