<div class="mt-2">
    {% if datatable is not null %}
        {% import "components/history_log_macros.html.twig" as log %}
        {{ log.element_history_component(datatable) }}
    {% endif %}
</div>