{# var \App\Entity\Parts\Part part #}
{% import "helper.twig" as helper %}

{% for name, parameters in part.groupedParameters %}
    {% if name is not empty %}<h5 class="mt-1">{{ name }}</h5>{% endif %}
    {{ helper.parameters_table(parameters) }}
{% endfor %}