<form action="{{ path('parts_search') }}" class="d-flex my-lg-0 ms-auto" method="get">
    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle my-2" type="button" id="navbar-search-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="false">
            {% trans %}search.options.label{% endtrans %}
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="navbar-search-options">
            <div class="px-2">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="search_name"  name="name" value="1" checked>
                    <label for="search_name" class="form-check-label justify-content-start">{% trans %}name.label{% endtrans %}</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="search_category" name="category" value="1" checked>
                    <label for="search_category" class="form-check-label justify-content-start">{% trans %}category.label{% endtrans %}</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="search_description" name="description" value="1" checked>
                    <label for="search_description" class="form-check-label justify-content-start">{% trans %}description.label{% endtrans %}</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="search_tags" name="tags" value="1" checked>
                    <label for="search_tags" class="form-check-label justify-content-start">{% trans %}tags.label{% endtrans %}</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="search_storelocation" name="storelocation" value="1" checked>
                    <label for="search_storelocation" class="form-check-label justify-content-start">{% trans %}storelocation.label{% endtrans %}</label>
                </div>
                <div class=" custom-control custom-checkbox">
                    <input type="checkbox" id="search_comment" class="form-check-input" id="search_comment" name="comment" value="1" checked>
                    <label for="search_comment" class="form-check-label justify-content-start">{% trans %}comment.label{% endtrans %}</label>
                </div>
                {% if true %}
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="search_supplierpartnr" name="ordernr" value="1" checked>
                        <label for="search_supplierpartnr" class="form-check-label justify-content-start">{% trans %}ordernumber.label.short{% endtrans %}</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="search_supplier" name="supplier" value="1">
                        <label for="search_supplier" class="form-check-label justify-content-start">{% trans %}supplier.label{% endtrans %}</label>
                    </div>
                {% endif %}
                {% if true %}
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="search_manufacturer" name="manufacturer" value="1">
                        <label for="search_manufacturer" class="form-check-label justify-content-start">{% trans %}manufacturer.label{% endtrans %}</label>
                    </div>
                {% endif %}
                {% if true %}
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="search_footprint" name="footprint" value="1">
                        <label for="search_footprint" class="form-check-label justify-content-start">{% trans %}footprint.label{% endtrans %}</label>
                    </div>
                {% endif %}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="disable_pid_input" name="disable_pid_input" value="1">
                    <label for="disable_pid_input" class="form-check-label justify-content-start">{% trans %}search.deactivateBarcode{% endtrans %}</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="regex" name="regex" value="1">
                    <label for="regex" class="form-check-label justify-content-start">{% trans %}search.regexmatching{% endtrans %}</label>
                </div>
            </div>
        </div>
    </div>

    <input type="search" class="form-control me-sm-2 my-2" placeholder="{% trans %}search.placeholder{% endtrans %}" name="keyword" required>
    <button type="submit" class="form btn btn-outline-secondary my-2">{% trans %}search.submit{% endtrans %}</button>
</form>