<form action="{{ url('parts_search') }}" method="get">
    <div class="dropdown d-inline">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {% trans %}search.options.label{% endtrans %}
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="SearchOptions">
            <div class="px-1 py-2">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="search_name"  name="name" value="1" checked>
                    <label for="search_name" class="custom-control-label justify-content-start">{% trans %}name.label{% endtrans %}</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="search_category" name="category" value="1" checked>
                    <label for="search_category" class="custom-control-label justify-content-start">{% trans %}category.label{% endtrans %}</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="search_description" name="description" value="1" checked>
                    <label for="search_description" class="custom-control-label justify-content-start">{% trans %}description.label{% endtrans %}</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="search_tags" name="tags" value="1" checked>
                    <label for="search_tags" class="custom-control-label justify-content-start">{% trans %}tags.label{% endtrans %}</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="search_storelocation" name="storelocation" value="1" checked>
                    <label for="search_storelocation" class="custom-control-label justify-content-start">{% trans %}storelocation.label{% endtrans %}</label>
                </div>
                <div class=" custom-control custom-checkbox">
                    <input type="checkbox" id="search_comment" class="custom-control-input" id="search_comment" name="comment" value="1" checked>
                    <label for="search_comment" class="custom-control-label justify-content-start">{% trans %}comment.label{% endtrans %}</label>
                </div>
                {% if true %}
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="search_supplierpartnr" name="ordernr" value="1" checked>
                        <label for="search_supplierpartnr" class="custom-control-label justify-content-start">{% trans %}ordernumber.label.short{% endtrans %}</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="search_supplier" name="supplier" value="1">
                        <label for="search_supplier" class="custom-control-label justify-content-start">{% trans %}supplier.label{% endtrans %}</label>
                    </div>
                {% endif %}
                {% if true %}
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="search_manufacturer" name="manufacturer" value="1">
                        <label for="search_manufacturer" class="custom-control-label justify-content-start">{% trans %}manufacturer.label{% endtrans %}</label>
                    </div>
                {% endif %}
                {% if true %}
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="search_footprint" name="footprint" value="1">
                        <label for="search_footprint" class="custom-control-label justify-content-start">{% trans %}footprint.label{% endtrans %}</label>
                    </div>
                {% endif %}
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="disable_pid_input" name="disable_pid_input" value="1">
                    <label for="disable_pid_input" class="custom-control-label justify-content-start">{% trans %}search.deactivateBarcode{% endtrans %}</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="regex" name="regex" value="1">
                    <label for="regex" class="custom-control-label justify-content-start">{% trans %}search.regexmatching{% endtrans %}</label>
                </div>
            </div>
        </div>
    </div>

    <input type="search" class="form-control mr-sm-2" placeholder="{% trans %}search.placeholder{% endtrans %}" name="keyword">
    <button type="submit" class="form btn btn-outline-secondary my-2">{% trans %}search.submit{% endtrans %}</button>
</form>