{% import "components/tree_macros.html.twig" as tree %}


<div class="nav flex-column">
    {% for item in sidebar_items %}
        {{ tree.treeview_sidebar('sidebar-panel-' ~ loop.index, item) }}
        <div class="mb-2"></div>
    {% endfor %}
</div>