{% import "components/tree_macros.html.twig" as tree %}


<div class="nav flex-column">

    {{ tree.treeview_sidebar('sidebar-panel-1', 'categories') }}
    {{ tree.treeview_sidebar('sidebar-panel-2', 'devices') }}
    {{ tree.treeview_sidebar('sidebar-panel-3', 'tools') }}
</div>