{# Insert flashes #}
<div class="toasts-global d-none">
    {% for label, messages in app.flashes() %}
        {% for message in messages %}
            {{ include('_toast.html.twig', {
                'label': label,
                'message': message
            }) }}
        {% endfor %}
    {% endfor %}
</div>

{# Allow pages to request a fully reload of everything #}
{% if global_reload_needed is defined and global_reload_needed %}
    <div {{ stimulus_controller('turbo/global_reload') }}></div>
{% endif %}

<div class="d-none" data-title="{% apply title %}{{ page_title }}{% endapply %}" {{ stimulus_controller('turbo/title') }}></div>