{% extends "base.html.twig" %}

{% block content %}
<div class="card {% block card_border %}border-primary{% endblock %}">
    {% block card_header %}
    <div class="card-header {% block card_type %}bg-primary text-white{% endblock %}">
        {% block card_title %}{% endblock %}
    </div>
    {% endblock %}
    {% block card_body %}
    <div class="card-body">
        {% block card_content %}{% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}