{% extends "base.html.twig" %}

{% block content %}

    <div id="part_list">
        <h4>{% trans %}part_list.loading.caption{% endtrans %}</h4>
        <h6>{% trans %}part_list.loading.message{% endtrans %}</h6>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $( function() {
            $('#part_list').initDataTables({{ datatable_settings(datatable) }});
        });
    </script>
{% endblock %}