{% import "components/datatables.macro.html.twig" as datatables %}

<div class="mb-2"></div>

{{ datatables.datatable(datatable, 'elements/datatables/datatables', 'projects') }}

<a class="btn btn-success" {% if not is_granted('@devices.edit') %}disabled{% endif %}
   href="{{ path('project_add_parts', {"id": project.id, "_redirect": app.request.requestUri}) }}">
    <i class="fa-solid fa-square-plus fa-fw"></i>
    {% trans %}project.info.bom_add_parts{% endtrans %}
</a>