{% extends "base.html.twig" %}

{% block  title %}
    {% trans %}parts_list.supplier.title{% endtrans %} {{ entity.name }}
{% endblock %}

{% block content %}

    {% embed "Parts/lists/_info_card.html.twig" with {'header_label': 'supplier.label'} %}
        {% block quick_links %}
            <div class="mb-2">
                {% import "components/quick_links.macro.html.twig" as quick_links %}
                {{ quick_links.company(entity) }}
            </div>
        {% endblock %}
    {% endembed %}

    {% include "Parts/lists/_action_bar.html.twig" with {'url_options': {'supplier': entity.iD}} %}

    {% include "Parts/lists/_parts_list.html.twig" %}

{% endblock %}
