{% extends "bundles/TwigBundle/Exception/error.html.twig" %}

{% block status_comment %}
    Something bad happened internally.
    <br>There is nothing you could do about this, except trying to reload the page.
{% endblock %}

{% block admin_info %}
    {% if exception.class == "Doctrine\\DBAL\\Exception\\ConnectionException" %}
        <b><i>Can not connect to database.</i></b><br><p>Try following things:</p>
        <ul>
            <li>Check if the database server is running</li>
            <li>Ensure that <code>DATABASE_URL</code> in <code>.env.local</code> is correct: database name, user and password must be correct.</li>
            <li>Ensure that the database user has access to the database.</li>
        </ul>
    {% elseif exception.class == "Twig\\Error\\RuntimeError" and 'manifest.json' in exception.message %}
        <b><i>Can not load frontend assets.</i></b><p>Try following things:</p>
        <ul>
            <li>Run <kbd>yarn install</kbd> and <kbd>yarn build</kbd> in Part-DB folder.</li>
            <li>Run <kbd>php bin/console cache:clear</kbd></li>
        </ul>
    {% elseif exception.class == "Doctrine\\DBAL\\Exception\\InvalidFieldNameException"
        or exception.class == "Doctrine\\DBAL\\Exception\\TableNotFoundException"
    %}
        <b><i>Invalid or not existing database schema.</i></b><br><p>Try following things:</p>
        <ul>
            <li>Check if the <code>DATABASE_URL</code> in <code>.env.local</code> (or docker configure) is correct</li>
            <li>Run <kbd>php bin/console doctrine:migrations:migrate</kbd> to upgrade database schema</li>
            <li>Run <kbd>php bin/console cache:clear</kbd></li>
        </ul>
    {% elseif exception.class == "Doctrine\\DBAL\\Exception\\DriverException" %}
        <b><i>Error while executing database query.</i></b><br>This is maybe caused by an old database schema.<br><p>Try following things:</p>
        <ul>
            <li>Check if the <code>DATABASE_URL</code> in <code>.env.local</code> (or docker configure) is correct</li>
            <li>Run <kbd>php bin/console doctrine:migrations:migrate</kbd> to upgrade database schema (if upgrade is available)</li>
            <li>Run <kbd>php bin/console cache:clear</kbd></li>
            <li>If this issue persist, create a ticket at <a href="https://github.com/Part-DB/Part-DB-symfony/issues" rel="noopener">GitHub</a>.</li>
        </ul>
    {% else %}
        You could try following things, if this error is unexpected:
        <ul>
            <li>Check <code>var/log/prod.log</code> (or <code>docker logs</code> when Part-DB is running inside a docker container) for additional informations</li>
            <li>Run <kbd>php bin/console cache:clear</kbd> to clear cache</li>
        </ul>
    {% endif %}
{% endblock %}