{% if list != null %}
    <ul class="structural_link">
        {% for element in list %}
            <li {% if element.selected != null %}class="active"{% endif %}>
                {% if element.href %}
                    <a href="{{ element.href }}">{if $element.label}{$element.label}{/if}</a>
                {% else %}
                    {$element.label}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="form-control-static">-</div>
{%  endif %}