{% apply inky_to_html|inline_css(source('@css/email/foundation-emails.css'), source('@css/email/email.css')) %}

    <container>
        <spacer size="16"></spacer>
        <row class="header">
            <columns>
                <spacer size="16"></spacer>
                <h4 class="text-center"><a href="{{ url('homepage') }}">{{ partdb_title }}</a></h4>
            </columns>
        </row>

        <row>
            <columns>

                <spacer size="32"></spacer>
                {% block content %}

                {% endblock %}
            </columns>
        </row>

        <row>
            <columns>
                <p><small>{% trans %}mail.footer.email_sent_by{% endtrans %} <a href="{{ url('homepage') }}">Part-DB</a>. {% trans %}mail.footer.dont_reply{% endtrans %}</small></p>
            </columns>
        </row>

        <spacer size="16"></spacer>
    </container>
{% endapply %}